<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<system.web> Original config
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
  <connectionStrings configSource="App_Data\DB.Config">
    <!--<add name="Excel_ReadEntities" connectionString="metadata=res://*/Models.Sample.csdl|res://*/Models.Sample.ssdl|res://*/Models.Sample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AN8LAPQ;initial catalog=Excel_Read;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="false"></sqlCacheDependency>
      <outputCache enableOutputCache="false" enableFragmentCache="false" sendCacheControlHeader="false" omitVaryStar="false" />
    </caching>
    <globalization uiCulture="en-GB" culture="en-GB" />
    <httpRuntime maxRequestLength="52428800" executionTimeout="1000" enableVersionHeader="false" targetFramework="4.6.1" enableHeaderChecking="false" />
    <!--Added by Anand dated on 08-08-2018 enableHeaderChecking="false"-->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <!--<remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <sessionState timeout="20" regenerateExpiredSessionId="true"></sessionState>
    <!--<customErrors mode="Off" defaultRedirect="~/ErrorPage/App_Error.html">
      <error redirect="~/ErrorPage/App_Error.html" statusCode="404" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="403" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="400" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="405" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="406" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="407" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="412" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="413" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="414" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="415" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="416" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="417" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="423" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="501" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="502" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="503" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="504" />
      <error redirect="~/ErrorPage/App_Error.html" statusCode="505" />
    </customErrors>-->
    <anonymousIdentification enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login/Login.aspx" timeout="20" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true"
      enableViewState="true" enableViewStateMac="true" enableEventValidation="true"
      viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" applicationName="PMMYA" maxInvalidPasswordAttempts="2147483647" />
        <!--passwordFormat="Encrypted"-->
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <clear />
        <remove name="AspNetSqlProfileProvider" />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="PMMYA" />
      </providers>
      <properties>
        <clear />
        <add name="Selectedlanguage" type="System.String" allowAnonymous="true" defaultValue="mr-IN" />
        <add name="lastName" />
        <add name="firstName" />
        <add name="phoneNumber" />
        <add name="birthDate" type="System.DateTime" />
        <add name="address" />
        <add name="IMGFORM" />
        <add name="IMGFORMSection" />
        <add name="IMGFORMFLD" />
        <add name="IMGID" />
        <add name="IMGTRAN" />
        <add name="ReportingTo" />
        <add name="UserLevel" />
        <add name="Error" />
        <add name="ColorLevel" allowAnonymous="true" />
        <add name="FontLevel" allowAnonymous="true" defaultValue="medium" />
        <add name="RandomToken" allowAnonymous="true" />
        <add name="AuthToken" allowAnonymous="true" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="PMMYA" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="PMMYA" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <httpHandlers>
      <add path="*" verb="OPTIONS" type="System.web.defaultHttpHandler"
        validate="true" />
      <add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <xhtmlConformance mode="Transitional" />
    <!-- This is for to remove an Otion from Http Request -->
    <!-- Added by Anand Dated on 07-08-2018 -->
    <authorization>
      <deny verbs="OPTIONS" users="*" />
      <deny verbs="HEAD" users="*" />
      <deny verbs="TRACE" users="*" />
    </authorization>
    <httpCookies domain="" httpOnlyCookies="true" />
    <!-- END 07-08-2018 -->
  </system.web>
  <appSettings>
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="TouserName" value="Se2.mahait@mahait.org" />
    <add key="userNameEmail" value="rechargeme2016@gmail.com" />
    <add key="NotificationtoDepartment1" value="Ashish7yadav@gmail.com" />
    <add key="NotificationtoDepartment2" value="Ashish7yadav@gmail.com" />
    <add key="EmailPassword" value="Pass@123" />
    <add key="APPID" value="ApplicationServices" />
    <add key="Constr" value="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123" />
    <add key="SelfUserRegistration" value="Yes" />
    <add key="MAHAITScriptVersion" value="1.002" />
    <add key="FCKeditor:BasePath" value="~/Admin/MenuManagement/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/FckUpload/Image/" />
    <add key="DirectoryPath" value="~/Admin/MenuManagement/" />
    <add key="NewsCount" value="5" />
    <add key="DepartmentName" value="Maharashtra State Pradhan Mantri Mudra Yojana" />
    <add key="DepartmentNameEnglish" value="Maharashtra State Pradhan Mantri Mudra Yojana" />
    <add key="DepartmentNameMarathi" value="महाराष्ट्र राज्य प्रधान मंत्री मुद्रा योजना" />
    <add key="DepartmentNameUrdu" value="महाराष्ट्र राज्य प्रधान मंत्री मुद्रा योजना" />
    <add key="IsRandomCheck" value="yes" />
    <add key="PhotoGalleryId" value="1013" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UserName" value="MahaGovDIT-mudraadmin" />
    <add key="Pwd" value="Mahait@2018" />
    <add key="Sender" value="MAHGOV" />
    <add key="Key" value="ebd23683-a55e-42c5-b425-13aa48dc2ea9" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="AjaxHandlerFactory" verb="POST,GET" path="ajax/*.ashx"
        preCondition="integratedMode" type="Ajax.PageHandlerFactory, Ajax" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <!--Added by Anand Dated on 08-08-2018 -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- End 08-08-2018-->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="52428800" />
        <!--50MB-->
      </requestFiltering>
    </security>
    <!--<httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>