<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <!--<add name="ApplicationServices" connectionString="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
   <add name="ApplicationServices1" connectionString="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />

  <add name="Excel_ReadEntities" connectionString="metadata=res://*/Models.Sample.csdl|res://*/Models.Sample.ssdl|res://*/Models.Sample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AN8LAPQ;initial catalog=Excel_Read;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

<!--Add Mahesh Connection String-->
  <add name="ApplicationServices" connectionString="data source=DESKTOP-AN8LAPQ;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="ApplicationServices1" connectionString="data source=DESKTOP-AN8LAPQ;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
     providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=DESKTOP-AN8LAPQ;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=DESKTOP-AN8LAPQ;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />

  <add name="Excel_ReadEntities" connectionString="metadata=res://*/Models.Sample.csdl|res://*/Models.Sample.ssdl|res://*/Models.Sample.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AN8LAPQ;initial catalog=Excel_Read;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />



  <!--<add name="ApplicationServices" connectionString="data source=WTCDB;Initial Catalog=PMMYA;"
      providerName="System.Data.SqlClient" />
   <add name="ApplicationServices1" connectionString="data source=WTCDB;Initial Catalog=PMMYA;"
      providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=WTCDB;Initial Catalog=PMMYA;"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=WTCDB;Initial Catalog=PMMYA;"
      providerName="System.Data.SqlClient" />-->

</connectionStrings>
