body {
    font-family: 'Naskh';
    /*font-family: 'Noto Nastaliq Urdu Draft';
    line-height: 18px;*/
}

/*@font-face {
    font-family: 'Noto Nastaliq Urdu Draft';
    src: url('../font/NotoNastaliqUrduDraft.eot');
    src: url('../font/NotoNastaliqUrduDraft.eot?#iefix') format('embedded-opentype'), 
        url('../font/NotoNastaliqUrduDraft.woff2') format('woff2'), 
        url('../font/NotoNastaliqUrduDraft.woff') format('woff'), 
        url('../font/NotoNastaliqUrduDraft.ttf') format('truetype');
}*/

@font-face {
    font-family: 'Naskh';
    src: url('../font/goher-urdu-unicode-regular-1.ttf');
}
